<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"  >
<mapper namespace="com.example.demo.dao.SjdMapper">
    <select id="getSjdByYwh" resultType="map">
        select * from sjd where ywh=#{ywh}
    </select>
</mapper>